</div>
<div class="footer-padding"></div>
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #1c2331"
          >
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #6351ce"
             >
      <div class="me-5">
        <span>Connect with us:</span>
      </div>
      <div>
        <a href="https://www.facebook.com/profile.php?id=100004863979450" target="_blank" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://www.instagram.com/p/CdD_AWFs6mi/?igshid=YmMyMTA2M2Y=" target="_blank" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://linkedin.com/in/pradum-dubey-55009a1ba" target="_blank" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-3">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">SPARKS BANK
            </h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Many thanks to Spark Foundation for giving me this internship opportunity to grow.
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> loni, Pune, Maharashtra, India</p>
            <p><i class="fas fa-envelope mr-3"></i> pradumkumardubey@gamil.com</p>
            <p><i class="fas fa-phone mr-3"></i> 8318661938</p>
          </div>
        </div>
      </div>
    </section>
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright: By Pradum Kumar Dubey
    </div>
  </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
  var typed = new Typed(".auto", {
    strings: ["Welcome to SPARKS BANK", "Visit Sparks Foundation web page"],
    typeSpeed: 100,
    backSpeed: 100,
    loop: true
  })
</script>
</body>

</html>