<%- include('partials/header'); -%>

    <div class="container-fluid d-flex justify-content-center align-items-center m6 flex-wrap justify-content-between gradColor">
        <img src="/img/newBank.jpg" alt="BANK" style="height:200px" class="mt-4">
        <div class="text">
            <h1><span class="auto"></span></h1>
        </div>
        <img src="/img/newBank.jpg" alt="BANK" style="height:200px" class="mt-4">
    </div>
    <div class="container-fluid d-flex  flex-wrap align-items-center justify-content-center justify-content-between">
        <div class="section mt-5 mb-3">
            <a class="nav-link active button1 d-flex align-items-center justify-content-center flex-column text-white"
                href="/allcustumer">
                <i class="fa-solid fa-people-group fa-6x"></i>
                <h3>All Custumers</h3>
            </a>
        </div>
        <div class="section sec2  mt-5 mb-3">
            <a class="nav-link active button1 d-flex align-items-center justify-content-center flex-column text-white"
                href="https://internship.thesparksfoundation.info/" target="_blank">
                <h2>About Sparks</h2>
            </a>
        </div>
        <div class="section sec3  mt-5 mb-3">
            <a class="nav-link active button1 d-flex align-items-center justify-content-center flex-column text-white"
                href="/manager">
                <i class="fa-solid fa-person fa-6x"></i>
                <h1>Manager</h1>
            </a>
        </div>
    </div>



    <%- include('partials/footer'); -%>